<script>window.googleJavaScriptRedirect=1</script><META name="referrer" content="origin"><script>var m={navigateTo:function(b,a,d){if(b!=a&&b.google){if(b.google.r){b.google.r=0;b.location.href=d;a.location.replace("about:blank");}}else{a.location.replace(d);}}};m.navigateTo(window.parent,window,"http://lac.linuxaudio.org/2009/cdm/Thursday/01_Letz/JACK2_LAC_2009_slides.pdf");
</script><noscript><META http-equiv="refresh" content="0;URL='http://lac.linuxaudio.org/2009/cdm/Thursday/01_Letz/JACK2_LAC_2009_slides.pdf'"></noscript>